<div class="container">
	<div class="container__item" *ngIf="div1">
        <div style="color: #8c8c8c;">
            <h4>Forgot yoy Password?</h4>
            <p>Don't worry resetting your password is easy</p>
            <p>tell us the email address registerd with us</p>
        </div>
        <br>
        <br>
		<form class="form">
			<input type="email" class="form__field" placeholder="Your E-Mail Address" />
			<button type="button" class="btn btn--primary btn--inside uppercase" (click)="forgot()">Send</button>
		</form>
    </div>
    <div *ngIf="div2">
        You will recieve a link to Mail to reset Password 
        <div class="btn btn-primary">Login</div>
    </div>
</div>